* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

main {
    height: 100vh !important;
}

.containerForms {
    margin-top: 5px;
    height: 85vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.formLogin {
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: #d0f0f5;
}

h2 {
    font-size: 28px;
    font-weight: 600;
    color: #5F6D7A;
    text-align: center;
}

form {
    margin-top: 30px;
}

form .field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.field input,
.field button {
height: 100%;
width: 100%;
border: none;
font-size: 16px;
font-weight: 400;
border-radius: 6px;
}

.field input {
    outline: none;
    padding: 0 15px;
    border: 1px solid #e3e3e3;
}

.field input:hover {
    background-color: #f8f8f8;
}

.field input:focus-visible {
    outline: 1px solid #5ec7d6;
}

.field input::placeholder {
    color: #5f6d7a;
}

.eyeIcons {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #5F6D7A;
    cursor: pointer;
    padding: 5px;
}

.field button {
    color: #fff;
    background-color: #5ec7d6;
    transition: all 0.3s ease;
    cursor: pointer;
}

.field button:hover {
    background-color: #3899a8;
}

.formLink{
    text-align: center;
    margin-top: 10px;
}

.formLink span,
.forgotPass {
    font-size: 14px;
    font-weight: 400;
    color:#5F6D7A;
}

.forgotPass {
    color:#5ec7d6;
    text-decoration: none;
}

.forgotPass:hover {
    text-decoration: underline;
}

.cadastro {
    margin-top: 50px;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: #fff;
    border: 1px solid #5ec7d6;
    text-align: center;
    color: #5F6D7A;
}

.cadastro button {
    margin-top: 10px;
    padding: 10px;
    background-color: #5ec7d6;
    transition: all 0.3s ease;
    cursor: pointer;
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
    text-align: center;
}

.cadastro button:hover {
    background-color: #3899a8;
}

.cadastro a {
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width:400px){
    .form{
        padding: 15px 10px;
    }
}